/* Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", system-ui;
  /* background-image: url("/images/bg-img3.webp"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* filter: brightness(0.79); */
  /* background-color:linear-gradient(to right, #fec76f 0%, #fec76f 100%); */
  /* background-color: #ddd; */
}

.rotate-logo {
  display: inline-block;
  transform: rotate(-180deg);
  padding-bottom: 8px;
}

.h2h-divider {
  margin-top: 0 !important;
}

/*
.nunito-<uniquifier> {
  font-family: "Nunito", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */
